{% extends 'base.html' %}

{% block title %}
    Персонажи Гарри Поттера
{% endblock %}

{% block content %}
# Cards
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card" style="width: 18rem;">
            <img src="../static/image/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Заголовок карточки</h5>
              <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
              <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
            </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="card" style="width: 18rem;">
            <img src="../static/image/2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Заголовок карточки</h5>
              <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
              <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
            </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
         <div class="card" style="width: 18rem;">
          <img src="../static/image/3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Заголовок карточки</h5>
            <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
            <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
          </div>
        </div>
      </div>
    </div>
  </div>

# Navbar
<ul class="nav justify-content-end">

  <li class="nav-item">
    <a class="nav-link" href="/">О Поттериане</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/contacts/">Контакты</a>
  </li>
  </ul>

{% endblock %}